.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0px;
    /* z-index: 1000; */
}

.navbar_main {
    /* max-width: 600px; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_left {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.navbar_right {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}