.seller_info_box {
  background-image: url("/images/background_images/seller-info-bg.png");
  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  border-radius: 18px;
  min-height: 342px;
  height: 100%;
  max-width: 1096px;
  width: 100%;
}


@media  (max-width: 480px) {
.seller_info_box {
    max-width: 100%;
}
}