.navbar_container {
  max-width: 645px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.navbar_list > li {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ACTIVE STATE */
.active {
  background-color: var(--golden-yellow);
}