.banner {
  position: relative;
  width: 100%;
  max-width: 762px;
  height: 490px;
  /* margin: auto; */
}

.banner_text {
  position: absolute;
  top: -6%;
  left: 37%;
  transform: translateX(-50%);
  font-size: 250px;
  font-weight: 400;
  color: transparent;
  text-stroke: 2px white;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  line-height: 1;
  z-index: 4;
  /* white-space: nowrap; */
  font-family: var(--font-bebas), sans-serif;
  /* mix-blend-mode: screen; */
}

.banner_image {
  position: relative;
  width: 100%;
  z-index: 2;
  height: 490px;
}
