.card_wrapper {
    width: 100%;
    position: relative;
}

.card_wrapper::before {
    content: "";
    position: absolute;
    right: 110px;
    top:34px;
    background: url("/assets/image/about-us/about_card_image_background.svg") center / cover no-repeat;
    opacity: 1;
    z-index: 1;
    width: 318px;
    height: 405px;
}

.card_container {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-inline: 116px;
    background-color: var(--almost-black);
}