.banner {
    position: relative;
    width: 100%;
    max-width: 762px;
    height: 450px;
    /* margin: auto; */
}

.banner_text {
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 250px;
    font-weight: 400;
    color: transparent;
    text-stroke: 2px white;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
    letter-spacing: 10px;
    line-height: 1;
    z-index: 4;
    /* white-space: nowrap; */
    font-family: var(--font-bebas), sans-serif;
    /* mix-blend-mode: screen; */
}

@media (max-width: 1660px) {
    .banner_text {
        letter-spacing: 5px;
        z-index: 4;
        font-size: 200px;
        font-weight: 400;
        line-height: 0.8;
        position: absolute;
        top: -7%;
        left: 50%;
    }
}

.banner_image {
    position: relative;
    width: 100%;
    z-index: 2;
    height: 450px;
}