.login_form_container {
    max-width: 480px;
    width: 100%;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.signup_form_container {
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.vendor_form_container{
    max-width: 709px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

@media (max-width: 480px) {
  .signup_form_container,.login_form_container {
    max-width: 288px;
     align-items: center;
  }
}
