.banner_section {
  max-height: 738px;
  min-height: 440px;
  height: 100%;
  background-image: url("/assets/image/banner/banner_bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}