.auth_wrapper {
  max-width: 709px;
  max-height: 610px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #ffffff;
  padding-block: 48px;
}

@media (max-width: 480px) {
  .auth_wrapper {
    max-width: 340px;
    max-height: 100%;
  }
}
