.auth_form_container {
    max-width: 454px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100%; */


    h3 {
        color: var(--color-almost-black);
        font-weight: 700;
        font-size: 40px;
    }
}